.container {
  display: flex;
  flex-direction: column;
  margin: 10;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  margin: 10;
}

.h-container {
  display: flex;
  flex-direction: row;
}

.it-key {
  display: flex;
  width: 20%;
}

.it-val {
  display: flex;
}

.block {
  display: block;
  width: 200;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
}
.block:disabled {
  background-color: #cccccc;
  color: #666666;
}


